{% extends 'layouts/main.html' %}
{% load static %}
{% block layoutContent %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Pagina Inicial - Loja Virtual</h1>
            <hr>
            <div class="row">
                {{product}}
                {% for product in products %}
                <div class="col-4 mt-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'public/img/cell.png' %}" class="card-img-top" alt="{{product.id}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text"><strong>{{product.description}}</strong><br> quick example text to
                                build on the card title and make up the bulk of the card's content.</p>
                            <p><small>R$: {{product.price}}</small></p>
                            <a href="#" class="btn btn-primary col-12">Comprar</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

